nav {
	background-color: grey;
	position: fixed;
	border: 1px solid black;
	width: 100%;
	padding-right: 60px;
	padding-left: 60px;
}

nav ul {
	display: inline-block;
	list-style: none;
}

.name {
	position: absolute;
	left: 60px;
}

.right {
	position: absolute;
	float: left;
	display: inline-block;
}

.search {
	position: absolute;
	top: 100px;
	left: 50%;
}

.prev-next {
	display: inline-block;
	border: 1px solid grey;
	border-radius: 5px;
	list-style: none;
	position: relative;
	clear:both;
	margin-top: 150px;
	margin-left: 50%;
}

.nav-list {
	display: inline-block;
	border-right: 1px solid grey;
	padding-left: 10px;
	padding-right: 10px;
}

.results {
	list-style: none;
	color: grey;
	position:relative;
	padding-top: 50px;
}

i:hover {
	color: yellow;
}

.list {
	display: inline-block;
}

.date {
	color: grey;
	display: inline-block;
}

.title {
	color: blue;
	display: inline-block;
}

.location {
	color: grey;
	display: inline-block;
}
